<template>
  <v-card
    :class="`elevation-${elevation}`"
    :color="color"
    class="pa-4 mr-2"
    style = "margin-left: -10px; margin-top: -30px; max-width: 87px;"
    dark
  >
    <v-icon
      size="55"
    >
      {{ icon }}
    </v-icon>
  </v-card>
</template>

<script>

export default {
  inheritAttrs: false,

  props: {
    icon: {
      type: String,
      default: undefined
    },
    color: {
      type: String,
      default: "primary"
    },
    elevation: {
      type: [Number, String],
      default: 10
    },
  }
}
</script>