<template>

  <v-expansion-panel
    v-bind="$attrs"
    class="v-card--material-stats"
    style = "margin-bottom: 10px;"
    v-on="$listeners"  
  >
    <v-expansion-panel-header v-slot:default="{ open }">
      <v-fade-transition mode="in-out">
        <material-accent-card
          v-if="open"
          :color = 'color'
          :icon = 'icon'
        />
      </v-fade-transition>
        <v-row no-gutters>
          <v-col cols='4'>
            <v-fade-transition mode="out-in">
              <v-icon :color = "color" class = "mr-1" v-if='!open'>
                {{icon}}
              </v-icon>            
            </v-fade-transition>

            <span class = "font-weight-bold" :class="{big: open}">
              {{title}}
            </span>
          </v-col>
          <v-col cols="8" class="text--secondary">
            <span v-if="open">
              <slot name="headerOpen"></slot>
            </span>
            <span v-else>
              <slot name="headerClosed"></slot>
            </span>
          </v-col>
        </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content style = "width: 100%">
        <slot></slot>
      </v-expansion-panel-content>
    <template slot="actions">
      <v-icon
        :color="subIconColor"
        size="20"
        class="mr-2"
      >
        {{ subIcon }}
      </v-icon>
      <span
        :class="subTextColor"
        class="caption font-weight-light"
        v-text="subText"
      />
    </template>
  </v-expansion-panel>
</template>

<script>
import Card from './Card'

export default {
  inheritAttrs: false,

  props: {
    ...Card.props,
    title: {
      type: String,
      default: undefined
    },
    icon: {
      type: String,
      default: undefined
    },
    subIcon: {
      type: String,
      default: undefined
    },
    subIconColor: {
      type: String,
      default: undefined
    },
    subTextColor: {
      type: String,
      default: undefined
    },
    subText: {
      type: String,
      default: undefined
    },
    address: {
      type: Object,
      default: undefined
    }
  }
}
</script>

<style lang="scss">

.big {
  font-size: 2em;
}

.v-card--material-stats {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .v-offset {
    display: inline-block;
    flex: 0 1;
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0 !important;
    max-width: auto;
    padding: 0 16px 0;
  }

  .v-card {
    border-radius: 4px;
    flex: 0 1 auto;
  }

  .v-card__text {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  .v-card__actions {
    flex: 1 0 100%;
  }
}
</style>
