<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-alert
          v-if="isLoggedOut"
          type='info'
          prominent
          dismissible
          icon="mdi-logout"
        >
          You have successfully been logged out
        </v-alert>
        <v-alert
          v-if="login_error != ''"
          type = 'error'
          prominent
          dismissible
        >
          Unable to log you in: {{login_error}}
        </v-alert>           
        <v-card class="elevation-12">
          <v-toolbar color="amber" dark flat>
            <v-toolbar-title>PPMI Participant Portal - Login</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-form ref="form" v-model='valid' lazy-validation>
            <v-card-text>
              Welcome to the PPMI Staff Portal.
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <v-text-field label = "Email Address" type = 'email' v-model="email" :rules='emailRules' required autofocus></v-text-field>
                    <v-text-field label = "Password" type = 'password' :rules='passwordRules' v-model='password' required ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                :disabled="!valid"
                color="amber"
                class="mr-4"
                @click="login"
              >
                Login
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    valid: false,
    email: '',
    emailRules: [
      v => !!v || 'Email is required',
      v => /.+@.+\..+/.test(v) || 'Email must be valid',
    ],
    password: '',
    passwordRules: [
      v => !!v || 'Password is required',
    ]
  }),
  computed: {
    login_error: function() {
      return this.$store.getters.loginError;
    },
    isLoggedOut: function() {
      return this.$store.getters.isLoggedOut;
    }
  },
  methods: {
    validate () {
      if(this.$refs.form.validate()) {
        this.snackbar = true
      }
    },
    reset () {
      this.$refs.form.reset()
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    },
    login: function() {
      let email = this.email;
      let password = this.password;
      this.$store.dispatch('login', {email: email, password: password})
        .then(() => this.$router.push('/'))
        .catch(err => console.log(err))
    }
  }
}
</script>
