<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout justify-center wrap>
      <v-flex md12>
      <v-expansion-panels
        multiple
        :value = open_panels
      >
        <participant-id-panel :selected_participant="participant"></participant-id-panel>
        <participant-contact-info :selected_participant="participant"></participant-contact-info>
        <participant-questionnaires :selected_participant="participant"></participant-questionnaires>
        <participant-travel-planning :selected_participant="participant"></participant-travel-planning>
      </v-expansion-panels>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

export default {
  data: () => {
    return   {
      open_panels: [],
      participant: {
        "uuid": "45012191-0d41-435c-bb9b-944c9a8c02ed",
        "ppmi_id": "86543",
        "first_name": "Colly",
        "last_name": "Linklater",
        "contact": {
          "prefer": "phone",
          "phone": ["570-558-8057", "317-867-5309"],
          "email": ["clinklater0@list-manage.com"],
        },
        "gender": "Female",
        "addresses": [
          {
            "street": "7 Macpherson Plaza",
            "street2": "Suite 1234",
            "city": "Baton Rouge",
            "state": "Louisiana",
            "zip": "70810",
            "primary": true
          },
          {
            "street": "9 Springs Avenue",
            "city": "Rochester",
            "state": "Minnesota",
            "zip": "55905"
          },
          {
            "street": "7 Carpenter Trail",
            "city": "Cumming",
            "state": "Georgia",
            "zip": "30130"
          }
        ],
        "question": null,
        "questionnaires": [
          {
            question: "Why is the sky blue",
            answer: "Rayleigh Scattering",
            timestamp: "2020-01-01 09:30"
          },
          {
            question: "Why are there no more dinosaurs?",
            answer: "An asteroid impact 65 million years ago",
            timestamp: "2020-01-01 09:30"
          },
          {
            question: "What is your favorite color?",
            answer: "green",
            timestamp: "2020-01-01 09:30"
          },
          {
            question: "Which foods do you like?",
            answer: ["pizza", "rice", "chicken"],
            timestamp: "2020-01-01 09:30"
          },
          {
            question: "Would you rather fight 100 duck-sized horses or 1 horse-sized duck?",
            answer: null,
            timestamp: null
          }
        ],
        "upsit": {
          "screen": false,
          "kit_no": null,
          "tracking_no": null,
          "score": null
        }
      }
    }
  }
}

</script>