<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="Pending Questions"
          text="Click a participant to complete UPSIT-related tasks for them"
        >
          <v-data-table
            dense
            @item-expanded='setParticipant'
            :headers="headers"
            :items="this.$store.getters.question_participants"
            :expanded.sync="expanded"
            single-expand
            item-key="uuid"
            show-expand
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template v-slot:expanded-item="{ headers }">
              <td :colspan="headers.length">
               <v-form>
                <v-row>
                  <v-col
                    cols='12' 
                    md='4'
                  >
                    <v-text-field
                      v-model='kitNo'
                      label="Kit Number"
                    />
                  </v-col>
                  <v-col
                    cols='12' 
                    md='4'
                  >                  
                    <v-text-field
                      v-model='trackingNo'
                      label="Tracking Number"
                    />
                  </v-col>
                  <v-col
                    cols='12' 
                    md='4'
                  >    
                    <v-text-field
                      v-model='upsitScore'
                      label="UPSIT Score"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-spacer />
                  <v-btn color="primary" class="mr-3" @click='updateData'>Update</v-btn>
   
                </v-row>
               </v-form>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    expanded: [],
    uuid: null,
    trackingNo: null,
    kitNo: null,
    upsitScore: null,
    headers: [
      {
        sortable: false,
        text: 'First Name',
        value: 'first_name'
      },
      {
        sortable: false,
        text: 'Last Name',
        value: 'last_name'
      },
      {
        sortable: false,
        text: "Phone",
        value: "phone"
      },
      {
        sortable: false,
        text: 'Email',
        value: 'email'
      },
      {
        sortable: false,
        text: 'City',
        value: 'city'
      },
      {
        sortable: false,
        text: 'State',
        value: 'state'
      },
      {
        sortable: true,
        text: "Status",
        value: 'status'
      }
    ],
  }),
  methods: {
    setParticipant: function(item) {
      this.uuid = item.item.uuid;
      this.kitNo = item.item.upsit.kit_no;
      this.trackingNo = item.item.upsit.tracking_no;
      this.upsitScore = item.item.upsit.score;    
    },
    updateData: function() {
      this.$store.dispatch('updateUpsit', {uuid: this.uuid, kitNo: this.kit_no, trackingNo: this.tracking_no, upsitScore: this.score});
    }
  }
}
</script>
