<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="UPSIT Task List"
          text="Click a participant to complete UPSIT-related tasks for them"
        >
          <v-data-table
            dense
            :headers="headers"
            :items="tasks"
            :expanded.sync="expanded"
            single-expand
            item-key="uuid"
            show-expand
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template v-slot:expanded-item="{ headers }">
              <td :colspan="headers.length">
               <v-form>
                <v-row>
                  <v-col
                    cols='12' 
                    md='4'
                  >
                    <v-text-field
                      v-model='kitNo'
                      label="Kit Number"
                    />
                  </v-col>
                  <v-col
                    cols='12' 
                    md='4'
                  >                  
                    <v-text-field
                      v-model='trackingNo'
                      label="Tracking Number"
                    />
                  </v-col>
                  <v-col
                    cols='12' 
                    md='4'
                  >    
                    <v-text-field
                      v-model='upsitScore'
                      label="UPSIT Score"
                    />
                  </v-col>
                </v-row>
                <v-row>
                  <v-spacer />
                  <v-btn color="primary" class="mr-3" @click='update_data'>Update</v-btn>
   
                </v-row>
               </v-form>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

export default {
  beforeCreate() {
    this.$store.dispatch('get_upsit_tasks');
  },
  data: () => ({
    expanded: [],
    uuid: null,
    trackingNo: null,
    kitNo: null,
    upsitScore: null,
    headers: [
      {
        sortable: false,
        text: 'Name',
        value: 'name'
      },
      {
        sortable: false,
        text: "Phone",
        value: "phone"
      },
      {
        sortable: false,
        text: 'Email',
        value: 'email'
      },
      {
        sortable: false,
        text: 'City',
        value: 'city'
      },
      {
        sortable: false,
        text: 'State',
        value: 'state'
      },
      {
        sortable: true,
        text: "Status",
        value: 'status'
      }
    ],
  }),
  computed: {
    tasks() {
      return this.$store.getters.upsit_tasks;
    }
  },
  watch: {
    expanded: function(val) {
      if(val.length > 0) {
        this.$store.dispatch("get_participant", val[0].uuid);
      }
    }
  }
}
</script>
