<template>
  <material-expansion-panel
    color = 'primary'
    icon = "mdi-contacts"
    title = "Contact Info"
  >
    <template v-slot:headerClosed>
      <v-row no-gutters style="width: 100%">
        <v-col cols="12"><b>Preferred Contact</b>: <span v-html="preferred_contact_link"></span></v-col>
      </v-row>        
    </template>
    <material-address-card 
      elevation = '3' 
      class = "mb-3 pa-1" 
      v-for="(address, index) in participant.addresses" 
      :address = "address"
      color = 'primary'
      :key='index'>    
    </material-address-card>  
  </material-expansion-panel>
</template>

<script>

export default {
    props: ['selected_participant'],
    data: function() {
      return {
        participant: this.selected_participant
      }
    },
    computed: {
      preferred_contact() {
        let c = this.participant.contact;
        let p = "none";
        if(c.prefer == "email") {
          p = c.email[0];
        } else if(c.prefer === "phone") {
          p = c.phone[0];
        }
        return p;
      },
      preferred_contact_link() {
        let c = this.preferred_contact;
        let p = "none";
        if(this.participant.contact.prefer == "email") {
          p = `<a href = "mailto:${c}">${c}</a>`
        } else if(this.participant.contact.prefer == "phone") {
          p = `<a href = "tel:${c}">${c}</a>`
        }
        return p;
      } 
    }
}

</script>