<template>
  <material-expansion-panel
    v-if = 'participant'
    color = 'red'
    icon = "mdi-account-outline"
    title = "Identification"
  >
    <template v-slot:headerClosed>
      <v-row no-gutters style="width: 100%">
        <v-col cols="6"><b>Name</b>: {{participant.first_name}} {{participant.last_name}}</v-col>
        <v-col cols="6"><b>PPMI ID</b>: {{participant.ppmi_id}}</v-col>
      </v-row>
    </template>
    <v-container>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="participant.first_name"
            :counter = "25"
            label = "First Name"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="participant.last_name"
            :counter = "25"
            label = "Last Name"
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="participant.ppmi_id"
            :counter = "25"
            label = "PPMI ID"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="participant.uuid"
            :counter = "40"
            label = "UUID"
            required
          ></v-text-field>
        </v-col>
      </v-row>
    </v-container>
  </material-expansion-panel>
</template>

<script>

export default {
  props: ['selected_participant'],
  data: function() {
    return {
      participant: this.selected_participant
    }
  },

}

</script>