<template>
  <span>
    <v-btn
      bottom
      color="primary"
      dark
      fab
      fixed
      right
      @click="dialog = !dialog"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
    <v-dialog
      v-model="dialog"
      width="800px"
    >
      <v-card
        max-width="800"
        class='mx-auto'
      >
        <v-card-title class="grey darken-2">
          Notes
        </v-card-title>
        <v-container>
          <v-combobox
            dense
            v-model="topic_filter"
            :items='topics'
            label="Topic"
          ></v-combobox>
          <v-list three-line>
            <template v-for="(item, index) in filtered_comments">

              <v-list-item
                :key="index"
                @click="testClick"
              >
                <v-list-item-avatar>
                  <v-icon>mdi-message-reply-text</v-icon>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title class = "font-weight-bold">{{item.topic}} </v-list-item-title>
                  <v-list-item-subtitle>{{item.comment}}</v-list-item-subtitle>
                  <v-list-item-subtitle class = "mt-1"><v-icon class = "mr-1">mdi-account</v-icon>{{item.staff_name}} <span class = "ml-2 caption font-italic font-weight-light">{{item.date}} {{item.time}}</span></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list> 
        </v-container>
        <v-card-actions absolute>
        <v-container>
          <v-row>
            <v-col cols='12'>
              <v-combobox
                dense
                v-model="new_topic"
                :items='topics'
                label="New Topic"
              ></v-combobox>            
            </v-col>
          </v-row>
          <v-row>
            <v-col cols='12'>
              <v-textarea
                name="new_comment"
                filled
                label="Comment"
                auto-grow
              ></v-textarea>            
            </v-col>
          </v-row>
          <v-layout align-end justify-end>
            <v-btn color='primary'>Submit</v-btn>
          </v-layout>
          <v-row>
            <v-col cols='12'>
            
            </v-col>
          </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </span>
</template>

<script>

  export default {
    props: {
      source: String,
    },
    data: () => ({
      dialog: false,
      new_topic: null,
      topic_filter: null,
      topics: ['', 'UPSIT', 'Questions', 'Contact', 'Travel', 'Misc'],
    }),
    methods: {
      testClick: function() {

      },
      updateTopic: function(val) {
        this.new_topic = val;
        this.topic_filter = val;       
      }
    },
    watch: {
      topic: function(newVal) {
        this.updateTopic(newVal);
      }
    },
    created() {
      this.updateTopic(this.$store.getters.topic);
    },
    computed: {
      topic() {
        return this.$store.getters.topic;
      },
      comments() {
        let comments = this.$store.getters.comments;
        if(comments === undefined) {
          comments = [];
        }
        return comments
      },
      filtered_comments() {
        if(this.topic_filter === null || this.topic_filter === '' || this.topic_filter === 'Participant') {
          return this.comments;
        } else {
          return this.comments.filter(e => e.topic === this.topic_filter)
        }
      },
    }
  }
</script>